.list {
  padding: var(--spacing-xs) 0;

  list-style: none;
}

.clear {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;

  border: none;
  background: none;

  color: var(--color-text-secondary);
  font-size: var(--font-size-lg);
  line-height: 1;

  cursor: pointer;

  &:hover {
    color: var(--color-text);
  }
}

.message {
  padding: var(--spacing-md) var(--spacing-lg);

  font-size: var(--font-size-md);
  color: var(--color-text-secondary);
}
