.option {
  display: flex;
  align-items: center;

  gap: var(--spacing-sm);
  padding: var(--spacing-sm) var(--spacing-lg);

  cursor: pointer;

  transition: background-color var(--transition-base);

  &:hover,
  &.active {
    background-color: var(--color-background-secondary);
  }
}

.icon {
  display: flex;
  align-items: center;
  flex-shrink: 0;

  width: 20px;
}

.label {
  flex: 1;

  font-size: var(--font-size-md);
  color: var(--color-text);
}

.type {
  font-size: var(--font-size-sm);
  color: var(--color-text-secondary);

  text-transform: capitalize;
}
